
.sec0{
    height: 800px;
}
.sec1{
    padding-top: 120px;
    background-color: var(--white);
}

.hand-text{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-top: 80px;
}

.two-text{
    margin-left: 80px;
}

.t2{
    margin-top: 64px;;
}

.zagolovok{
    margin-left: 5vw;
}

.zagolovok-from-authors{
    margin-left: 5vw;
    margin-top: 120px;
}

.zagolovok-from-about-authors{
    margin-left: 5vw;
    margin-top: 100px;
}

.sec2{
    position: relative;
    margin-top: -210px;
    background-color: var(--dark-grey);
    padding-top: 120px;
}

.three-plashki{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.p1, .p2, .p3{
    display: flex;
    flex-direction: row;
    width: 32%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
}

.p1{
    background-color: var(--dark-purple);
}

.p2{
    background-color: var(--light-purple);
}

.p3{
    background-color: var(--green);
}

.icon-1, .icon-2, .icon-3{
    margin-right: 28px;
}

.text-from-authors{
    font-size: 34px;
    font-weight: 400;
    line-height: 140%
}

.heart-text{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.two-authors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 80px;
    padding-bottom: 100px;
}

.first-author, .second-author{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 40px;
    width: 100%;
}

.photo-first-author, .photo-second-author{
    border-radius: 40px;
}

.second-author{
    margin-left: 16px;
}

.text-about-author{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 40px;;
}

.portfolio{
    margin-top: 16px;
}

.heart-2{
    margin-left: 17vw;
    margin-top: 5vw;
}



.plashka1{
    position: absolute;
    font-size: 24px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;;
    rotate: 19deg;
    top: 22vw;
    left: 5vw;
    color: #0e0e0e;
    background-color:var(--green) ;
}

.plashka2{
    position: absolute;
    font-size: 24px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;;
    rotate: -12deg;
    top: 12vw;
    left: 32vw;
    color: #0e0e0e;
    background-color:var(--dark-purple) ;
}

.plashka3{
    position: absolute;
    font-size: 24px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;;
    rotate: -12deg;
    top: 18vw;
    right: 5vw;
    color: #0e0e0e;
    background-color:var(--yellow) ;
}

.plashka4{
    position: absolute;
    font-size: 24px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;;
    rotate: 11deg;
    top: 40vw;
    right: 5vw;
    color: #0e0e0e;
    background-color:var(--light-purple) ;
}

.plashka5{
    position: absolute;
    font-size: 24px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;;
    rotate: 8deg;
    top: 46vw;
    right: 40vw;
    color: #0e0e0e;
    background-color:var(--pink) ;
}

.plashka6{
    position: absolute;
    font-size: 24px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;;
    rotate: -12deg;
    top: 40vw;
    left: 5vw;
    color: #0e0e0e;
    background-color:var(--blue) ;
}

.logo3{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 682px;
    height: 200px;
    margin: -80px 0 0 -341px;
}

.menu{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 46vw;
}

.knopki-menu{
    color: white;
    font-size: 18px;
    font-weight: 400;
}

#first{
    background-color: #0e0e0e;
}

#white{
    color: white;
}


// _________анимация_________
.plashka1{
    animation-name: plashka1;
    animation-timing-function: linear;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes plashka1 {
    50% {
      rotate: -10deg;
    }
  }

  .plashka2{
    animation-name: plashka2;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes plashka2 {
    50% {
      rotate: 12deg;
    }
  }

  .plashka3{
    animation-name: plashka3;
    animation-timing-function: linear;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes plashka3 {
    50% {
      rotate: -30deg;
    }
  }

  .plashka4{
    animation-name: plashka4;
    animation-timing-function: linear;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
  }
  
  @keyframes plashka4 {
    50% {
      rotate: 36deg;
    }
  }

  .plashka5{
    animation-name: plashka5;
    animation-timing-function: linear;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes plashka5 {
    50% {
      rotate: -20deg;
    }
  }

  .plashka6{
    animation-name: plashka6;
    animation-timing-function: linear;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes plashka6 {
    50% {
      rotate: 20deg;
    }
  }