h5{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}

#first{
    background-color: #0e0e0e;
}

#white{
    color: white;
}