// ———————кнопка вернуться назад и время——————
.A_arrow_button, .A_time{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.A_arrow_button{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.A_time_mini{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .Q_icon_time{
        width: 1.5vw;
    }
}

// ———————кнопки——————
.A_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    padding: 18px 0px 18px 0px;
    font-size: 22px;
    border-radius: 100px;
    background-color: var(--yellow);
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    cursor: pointer;
}
    
.A_buttons:hover{
    background-color: #FF9F0A;
}
    
.A_buttons:active{
       background-color: #FF8A00;
}


// ———————заголовки как титры в каждой статье——————
.A_title_cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: -20vw;
}

// ———————теги——————

.A_tags_under_cover{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: var(--yellow);
    padding: 16px 0px 16px 0px;
    border: 1px solid var(--yellow);
    border-radius: 100px;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

// ——2 блок в статье——
.A_img_caption{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.A_title_text{
    display: flex;
    flex-direction: column;
    justify-content: start;

}
// ——другие статьи——
.A_title_and_time{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

// ————————————————————————————————————————————————————Каталог статей————————————————————————
.A_switch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    border: 1px solid var(--dark-grey);
    border-radius: 100px;
    width: 32vw;
}



.A_color{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;

    .Q_color1{
        background-color: #B79964;
    }

    .Q_color2{
        background-color: #59C8E4;
    }

    .Q_color3{
        background-color: #DE4421;
    }

    .Q_color4{
        background-color: #FFFFFF;
    }

    .Q_color5{
        background-color: #80A27E;
    }

    .Q_color6{
        background-color: #E9E9E9;
    }

    .Q_color7{
        background-color: #570548;
        color: var(--white);
    }

    .Q_color8{
        background-color: #ED010E;
        color: var(--white);
    }

    .Q_color9{
        background-color: #9E8693;
    }

    .Q_color10{
        background-color: #540618;
        color: var(--white);
    }

    .Q_color11{
        background-color: #8D0027;
        color: var(--white);
    }

    .Q_color12{
        background-color: #C1813A;
        color: var(--white);
    }

    .Q_color13{
        background-color: #3B216D;
        color: var(--white);
    }

    .Q_color14{
        background-color: #290476;
        color: var(--white);
    }

    .Q_color15{
        background-color: #775685;
        color: var(--white);
    }

    .Q_color16{
        background-color: #EE8B3D;
    }

    .Q_color17{
        background-color: #5382D0;
        color: var(--white);
    }

    .Q_color18{
        background-color: #69640C;
        color: var(--white);
    }

    .Q_color19{
        background-color: #80326D;
        color: var(--white);
    }

    .Q_color20{
        background-color: #9998A5;
    }

    .Q_color21{
        background-color: #14200A;
        color: var(--white);
    }

    .Q_color22{
        background-color: #908F64;
    }

    .Q_color23{
        background-color: #220018;
        color: var(--white);
    }

    .Q_color24{
        background-color: #839BA7;
    }

    .Q_color25{
        background-color: #10212B;
        color: var(--white);
    }

    .Q_color26{
        background-color: #B2CB6F;
    }

    .Q_color27{
        background-color: #58020F;
        color: var(--white);
    }

    .Q_color28{
        background-color: #782D16;
        color: var(--white);
    }

    .Q_color29{
        background-color: #9D9289;
    }

    .Q_color30{
        background-color: #130E0B;
        color: var(--white);
    }

    .Q_color31{
        background-color: #221D3B;
        color: var(--white);
    }

    .Q_color32{
        background-color: #644EB1;
        color: var(--white);
    }

    .Q_color33{
        background-color: #4096C3;
    }

    .Q_color34{
        background-color: #B094FA;
    }

    .Q_color35{
        background-color: #F1BF8C;
    }

    .Q_color36{
        background-color: #7083A3;
    }

    .Q_color37{
        background-color: #2F263C;
        color: var(--white);
    }

    .Q_color38{
        background-color: #812E42;
        color: var(--white);
    }

    .Q_color39{
        background-color: #ED3B37;
        color: var(--white);
    }

    .Q_color40{
        background-color: #94ABC8;

    }

}

.A_color_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.A_title_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.A_name_font{
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}











// .A_menu_text{
//     display: flex;
//     flex-direction: row;
//     gap: 72px;
// } 

// // кнопки
// .A_buttons{
//     padding: 18px 80px 18px 80px;
//     font-size: 22px;
//     border-radius: 100px;
//     background-color: var(--yellow);
//     border: none;
//     font-family: 'Montserrat';
//     font-weight: 600;
//     cursor: pointer;
// }

// .A_buttons:hover{
//     background-color: #FF9F0A;
// }

// .A_buttons:active{
//     background-color: #FF8A00;
// }


// // теги
// .A_new_tags{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 22px;
//     color: var(--yellow);
//     height: 56px;
//     border: solid 1px var(--yellow);
//     border-radius: 100px;
//     width: 160px;
//     font-family: 'Montserrat';
//     font-weight: 500;

    
// }


// // Текст
// .A_title_h3{
//     font-size: 40px;
//     color: var(--white);
//     margin-bottom: 64px;
//     font-family: 'Montserrat';
//     font-weight: 700;
// }

// // Текст на 1 экране
// .A_title_cover{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;

//     .Q_big_title{
//         margin-top: 8px;
//     }
// }

// // 2 блок с новыми статьями

// // большая статья
// .A_article_cover{
//     display: flex;
//     border: 1px solid var(--dark-grey);
//     cursor: pointer;
// }


// .A_title_and_subtitle{
//     display: flex;
//     flex-direction: column;
//     align-items: left;
//     cursor: pointer;

//     .Q_subtitle{
//         margin-top: 12px;
//     }
// }

// .A_mini_article{
//     display: flex;
//     flex-direction: column;
   

//     .Q_title_mini_article{
//         margin-top: 16px;
//     }
// }

// .A_library_cover{
//     display: flex;
//     flex-direction: column;
//     border: 1px solid var(--dark-grey);
//     cursor: pointer;
// }

// // новый шрифт
// .A_font_text_subtitle{
//     display: flex;
//     flex-direction: column;

//     .Q_subtitle{
//         margin-top: 8px;
//     }
// }

// .A_font_cover{
//     border: 1px solid var(--dark-grey);
//     width: 60%;
// }


// // Библиотека
// // теги
// .A_tag_library{
//     position: absolute;
//     align-items: center;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     border: 1px solid var(--dark-grey);
//     width: 600px;
//     border-radius: 300px;
// }

// .A_tags{
//     display: flex;
//     flex-direction: row;
//     gap: 16px;
// }

// .A_cover_library{
//     border: 1px solid var(--dark-grey);
// }

// // Раздел со статьями
// // теги
// .A_tag_articals{
//     position: absolute;
//     align-items: center;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     border: 1px solid var(--dark-grey);
//     width: 900px;
//     border-radius: 300px;
// }

// .A_time{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 12px;
// }

// .A_title_and_subtitle_art{
//     display: flex;
//     flex-direction: column;
//     align-items: left;

//     .A_time{
//         margin-top: 12px;
//     }
// }

// .A_tags_art{
//     display: flex;
//     flex-direction: row;
//     gap: 18px;
// }


// // Страница статьи
// .A_tag_art{
//     margin-top: 24px;
//     display: flex;
//     flex-direction: row;
//     gap: 16px;
// }

// .A_text_art{
//     display: flex;
//     flex-direction: column;
//     gap: 24px;
// }

// .A_cover_in_art{
//     border: 1px solid var(--dark-grey);
// }

// .A_f{
//     font-family: 'Montserrat';
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 140%;
//     color: var(--white);
// }

