* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

html,
body {
  height: 100%;
}

#otsyup1{
  margin-top: 16px;
}

#otsyup2{
  margin-top: 24px;
}

#otsyup3{
  margin-top: 100px;
}

h2{
  font-size: 50px;
  font-weight: 700;
}

h3{
  font-size: 28px;
  font-weight: 600;
}

h4{
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

h5{
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

a{
  // text-decoration: none;
  color: black;
  font-size: 18px;
}

#white-active{
  color: white;
  font-weight: 700;
}

#bold{
  font-weight: 700;
}
