// Текст
.A_title_h3{
    font-size: 40px;
    color: var(--white);
}

.A_text_under_cover{
    font-size: 26px;
    color: var(--white);
}

.A_subtitle{
    font-size: 22px;
    color: var(--white);
    opacity: 0.5;
}

// 1 блок с фото
.Q_Image_cover{
    display: flex;
    margin: 0 auto;
    height: 50vw;
}

.A_mini_title{
    color: var(--white);
    font-size: 52px;
}

.A_big_title{
    color: var(--white);
    font-size: 104px;
}

.A_title_cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.A_buttons{
    padding: 18px 80px 18px 80px;
    font-size: 22px;
    border-radius: 100px;
    background-color: var(--yellow);
    border: none;
}

.A_title_and_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -36%;

    .A_buttons{
        margin-top: 32px;
    }
}

.M_cover_first_pages{
    margin-top: 100px;
}

.blok2{
    margin-top: 300px;
}


// 2 блок с новыми статьями

// большая статья
.A_article_cover{
    display: flex;
}

.A_new_tags{
    font-size: 22px;
    color: var(--yellow);
    padding-top: 1vw;
    padding-left: 32px;
    border: solid 1px var(--yellow);
    border-radius: 100px;
    width: 120px;
}

.A_title_and_subtitle{
    display: flex;
    flex-direction: column;
    align-items: left;

    .A_subtitle{
        margin-top: 8px;
    }
}

.A_title_subtitle_newtag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

// мини статьи