.logo{
    position: absolute;
    display: flex;
    left: 5vw;
    top: 5vw;
    width: 32vw;
}


.hand{
    position: absolute;
    display: flex;
    bottom: 6vw;
}

#my-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 10vw;
    bottom: 14vw;
}

#em{
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 28vw;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    line-height: 120%;
    font-weight: 400;
    border-radius: 100px;
    border: 2px solid #000000;
}

#my-form-button{
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    border-radius: 100px;
    border: 2px solid #000000;
    margin-top: 16px;
    background-color: black;
    color: rgb(255, 255, 255);
}