.artbl1{
    margin-top: 120px;
}

.artbl2{
    margin-top: 72px;
}

.O_art1{
    margin-top: 160px;
}

.O_art2{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.O_cover_and_tags{
    .M_cover_article{
        margin-top: 24px;
    }
}

.O_big_text_img{
    .Q_big_text{
        display: flex;
        justify-content: center;
    }

    .Q_text_article{
        max-width: 44vw;
    }

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.O_content_block{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.O_all_button{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .Q_image{
        width: 100%;
    }
}

.O_cover_article{
    margin-top: 48px;
}

.O_cover_article_first{
    margin-top: 120px;

    .M_title_cover_button{
        margin-top: -5vw;
    }
}

.O_article{
    cursor: pointer;
}

.O_color{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.O_font{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100vw;
}






// // все новые статьи
// .O_new_article{
//     display: flex;
//     flex-direction: row;
//     margin-top: 64px;
// }

// .O_library_fp{
//     display: flex;
//     flex-direction: column;
//     gap: 56px;
// }

// // все статьи в библиотеке
// .O_row_library{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     gap: 40px; 
// }


// // все статьи
// .O_pow_articals{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     gap: 24px;
// }