// все новые статьи
.O_new_article{
    display: flex;
    flex-direction: row;
    margin-top: 64px;
}

.O_library_fp{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

// все статьи в библиотеке
.O_row_library{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}