// меню
.Q_mtext{
    color: var(--white);
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-decoration: none;
}

.Q_mtext:hover{
    color: var(--yellow);
}

.Q_mtext:active{
    color: var(--yellow);
    font-weight: 500;
}

.Q_mtext_active{
    color: var(--yellow);
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-decoration: none;
}

.Q_logo{
    width: 16vw;
}

// 1 блок с фото
.Q_Image_cover{
    display: flex;
    margin: 0 auto;
    height: 50vw;
    border: 1px solid var(--dark-grey);
}

.Q_mini_title{
    color: var(--white);
    font-size: 56px;
    font-family: 'BebasNeue';
}

.Q_big_title{
    color: var(--white);
    font-size: 140px;
    font-family: 'BebasNeue';
}

// заголовки под фото
.Q_text_under_cover{
    font-size: 26px;
    color: var(--white);
    font-family: 'Montserrat';
    font-weight: 600;
}

.Q_subtitle{
    font-size: 22px;
    color: var(--white);
    opacity: 0.5;
    font-family: 'Montserrat';
    font-weight: 400;
}

// текст под мини статьями на гл странице
.Q_title_mini_article{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    color: var(--white);
}

// мини статьи
.Q_cover_mini_article{
    border: 1px solid var(--dark-grey);
}

// Новый шрифт
.Q_title_h4{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 64px;
    color: var(--white);
    line-height: 120%;
    max-width: 460px;
}

// Библиотека
// теги
.Q_tag_text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    line-height: 120%;
    cursor: pointer;
    padding: 20px 0px 20px 0px;
    width: 360px;
    border-radius: 300px;
}

.Q_tag_text_active{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    line-height: 120%;
    cursor: pointer;
    padding: 20px 0px 20px 0px;
    width: 360px;
    border-radius: 300px;
    background-color: var(--dark-grey);
}

// статьи в библиотеке
.Q_tags{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: var(--yellow);
    height: 56px;
    border: solid 1px var(--yellow);
    border-radius: 100px;
    width: 200px;
    font-family: 'Montserrat';
    font-weight: 500;
}

// Раздел со статьями
// теги
.Q_tag_text_articals{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    line-height: 120%;
    cursor: pointer;
    padding: 20px 0px 20px 0px;
    width: 300px;
    border-radius: 300px;
}

.Q_tag_text_articals_active{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    line-height: 120%;
    cursor: pointer;
    padding: 20px 0px 20px 0px;
    width: 300px;
    border-radius: 300px;
    background-color: var(--dark-grey);
}


// Раздел со статьями
.Q_Image_cover_articals1{
    margin: 0 auto;
    width: 100%;
    border: 1px solid var(--dark-grey);
}

.Q_mini_title_articals{
    color: var(--white);
    font-size: 40px;
    font-family: 'BebasNeue';
}

.Q_big_title_articals{
    color: var(--white);
    font-size: 100px;
    font-family: 'BebasNeue';
}

.Q_time{
    width: 32px;
    opacity: 0.5;
}

.Q_text_under_cover_art{
    font-size: 22px;
    color: var(--white);
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 130%;
}

.Q_subtitle_art{
    font-size: 20px;
    color: var(--white);
    opacity: 0.5;
    font-family: 'Montserrat';
    font-weight: 400;
}

.Q_tags_art{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--yellow);
    height: 48px;
    border: solid 1px var(--yellow);
    border-radius: 100px;
    width: 140px;
    font-family: 'Montserrat';
    font-weight: 500;
}




// Страница статьи
.Q_art_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: var(--yellow);
    height: 56px;
    border: solid 1px var(--yellow);
    border-radius: 100px;
    width: 300px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.Q_title_art{
    color: var(--white);
    font-size: 64px;
    font-family: 'BebasNeue';
} 

.Q_text{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: var(--white);
}

.Q_big_title_art{
    color: var(--white);
    font-size: 160px;
    font-family: 'BebasNeue';
}

.Q_logo_footer{
    opacity: 0.2;
}
