// страница со статьями

body{
    background-color: var(--dark-grey);
}
 

// верхние плашки переключатели разделов
.zagolovok-article{
    color: white;
    margin-left: 5vw;
    margin-top: 120px;
}

.vse-razdely{
    margin-left: 5vw;
    margin-top: 40px;
}

.razdely-1, .razdely-2{
    display: flex;
    flex-direction: row;
}

.razdely-2{
    margin-top: 16px;
}

#r1-text, #r2-text, #r3-text, #r4-text, #r5-text, #r6-text{
    font-weight: 600;
    color: white;
}

.r2, .r3, .r5, .r6{
    margin-left: 16px;
}

.r1,.r2, .r3, .r4, .r5, .r6{
    padding: 16px 40px 16px 40px;
    border-radius: 100px;
}

.r1{
    border: 2px solid var(--green);
}

.r2{
    border: 2px solid var(--dark-purple);
}

.r3{
    border: 2px solid var(--blue);
}

.r4{
    border: 2px solid var(--yellow);
}

.r5{
    border: 2px solid var(--pink);
}

.r6{
    border: 2px solid var(--light-purple);
}

// статьи все

.all{
    margin-top: 100px;
}

// статьи

.statia-h3{
    font-size: 34px;
    font-weight: 700;
    line-height: 125%;
}

.statia-h4{
    margin-top: 24px;
    line-height: 130%;
}

#statia{
    background-color: white;
    border-radius: 30px;
    width: 100vw;
    padding: 48px;
}

.statia-2{
    margin-left: 24px;
}

.statia-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 24px;
}

// плашки с цветами на статьях

.r1-in-article, .r2-in-article, .r3-in-article, .r4-in-article{
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-top: 64px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    margin-right: 220px;
}

.r1-in-article{
    background-color:var(--yellow) ;
}

.r2-in-article{
    background-color:var(--blue) ;
}

.r3-in-article{
    background-color:var(--light-purple) ;
}

.r4-in-article{
    background-color:var(--pink) ;
}

