:root {
    --white: #ffffff;
    --black: #000000;
    --dark-grey: #0e0e0e;
    --green: #CAF46F;
    --dark-purple: #A7ADC6;
    --yellow: #FFCB44;
    --light-purple: #ED89EE;
    --pink: #FF8E8E;
    --blue: #BDE0FE;
    }